[submodule "themes/Tehlug-Hugo-Theme"]
	path = themes/Tehlug-Hugo-Theme
	url = git@github.com:tehlug/Tehlug-Hugo-Theme.git
[submodule "static"]
	path = static
	url = git@github.com:tehlug/Tehlug-Media-Files.git
